services:
  web:
    build: .
    ports:
      - 5173:5173
    develop:
      watch:
        - action: sync
          path: .
          target: /app
  nginx:
    image: nginx:latest
    ports: 
      - 3000:80
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./downloads/:/var/www/html/downloads/